@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Space Grotesk', system-ui, sans-serif;
  color: #2c2c2c;
  font-size: .985rem;
  position: relative;
  background: #fafafa;
  line-height: 1.5;
}


.pattern-bg {
 background-image: url('./emojipattern.png');
  width: 100%;
  opacity: .35;
  min-height: 100vh;
  z-index: -2;
  position: absolute;

}

h2, p, h3 {
  margin: 0;
}

a {
  color: #2c2c2c;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin-left: 1rem;
  }
}

select, button {
  outline: transparent;
  font: inherit;
}

button {
  cursor: pointer;
  display: inline-block;
  background: transparent;
  border: transparent;
  margin-top: 2rem;

}

span {
  display: block;
}


img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
  object-fit: cover;
}

main {
  min-height: 90vh;
  align-content: center;
  display: grid;
  gap: 1rem;

}

.container {
  display: grid;
  gap: 2.5rem;
  width: min(850px, 100% - 1rem);
  margin-inline: auto;
  padding-inline: 2rem;


  
  @media (width < 450px) {
   gap: 1rem;
   padding-block-start: 2rem;
   padding-block-end: 10rem;
  }

}

.heading-title {
  --step-0: clamp(2.8rem, -6.5rem + 32vw, 3.5rem);
  --size-stroke: 3.5px;
  text-align: center;
  font-size: var(--step-0);
  letter-spacing: 2.4px;
  text-wrap: balance;
}


@supports (-webkit-text-stroke: var(--size-stroke) #E7A861 ) {
  
  .heading-title {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--size-stroke) #E7A861;
  }
     
  }

  .selection-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }


  .btn {
    padding: 1rem 2rem;
    background: #EF6D1D;
    color: #fafafa;
    font-weight: 500;
    border-radius: 4px;
    transition: all 250ms;
    box-shadow: 0 8px 0 0 #f3c0a1;
    width: 75%;
    margin-inline: auto;

    @media (width < 450px) {
      width: 100%;
      margin-top: 0;
    }

    &:hover, &:focus-visible {
      background: #f3c0a1;
      box-shadow: 0 8px 0 0 transparent;
    }
  }

  .usecase-box {
    .usecase__title {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    .usecase__description {
      margin-bottom: 3em;
    }

    .usecase--lists {
      display: grid;
      gap: .95rem;
    }
  }


  .usecase-box, .grid-wrapper {
    display: grid;
    margin-block: 2rem;
  }

  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    display: none;


    @media (width < 450px) {
     grid-template-columns: 1fr;
     margin-block: 0;
     }


    .grid-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media (width < 450px) {
      gap: 1rem;
        }

      > * {
        font-size: 1rem;
        font-weight: 500;


      span {
        color: #2c2c2c !important;
        font-weight: 600 !important;
        font-size: 1.25rem !important;
      }
        
      }

      :first-child {
        color: #FF0000;
 
      }

      :nth-child(2) {
        color: #18AC51;
      }
    }

    .grid-img {
      height: 100%;
      border-radius: 12px;
      overflow: clip;

      img {
        
        min-height: 350px;
    
      }
    }
  }


footer {
  width: 100%;
   text-align: center;
  padding: 1.5rem;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  background-color: hsl(23, 100%, 85%);

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
  }
}